{include file="header.html"}

<div id="admin_title">
	{$course->name|upper} Admin Page
</div>

{if $sls}
	<div class="list">
	    <div class="header">Section Leaders</div>
		{counter start=1 print=false assign=x}
		<table cellpadding="15">
			<tr>
				<td valign="top">
					{foreach from=$sls item=sl}
					<div class="link"><a href="{$course->get_link()}/sectionleader/{$sl}">{$sl}</a></div>
					{if $x is div by 10}
				</td><td valign="top">
					{/if}
					{counter}
				
					{/foreach}
				</td>
			</tr>
		</table>
	</div>
{else}
	<div class="header">
		No SLs found.
	</div>
{/if}


<div class="clearfloat"></div>



{include file="footer.html"}
