{include file="header.html"}

<div id="admin_title">
	{$class|upper} Admin Page
</div>

{if $class == "cs198"}
<div class="coordinator-link"><a href="{$root_url}cs106a/sectionleader/unknown">CS106A Students</a></div>
<div class="coordinator-link"><a href="{$root_url}cs106b/sectionleader/unknown">CS106B Students</a></div>
<div class="coordinator-link"><a href="{$root_url}cs106x/sectionleader/unknown">CS106X Students</a></div>
{else}
<div class="list">
    <div class="header">Section Leaders</div>
	{counter start=1 print=false assign=x}
	<table cellpadding="15">
		<tr>
			<td valign="top">
				{foreach from=$sls item=sl}
				<div class="link"><a href="{$course->get_link()}/sectionleader/{$sl}">{$sl}</a></div>
				{if $x is div by 10}
			</td><td valign="top">
				{/if}
				{counter}
				
				{/foreach}
			</td>
		</tr>
	</table>
</div>
{/if}


<div class="clearfloat"></div>



{include file="footer.html"}
