{include file="header.html"}

<h2>Assignment: {$assignment}</h2>

{if isset($nothing)}
<div style="padding: 10px; font-weight: bold;">No submissions here yet.</div>
{/if}


<script>

// we need to wait for the syntax highlighter to finish before we access the modified dom
$(document).ready(function(){
	//  	$(':checkbox').change(function() {
	// 	release(this);
	// });
});

function release(obj){
	var student = $(obj).attr('student');
	var action = "delete";	
	var checked = $(obj).attr('checked');
	if(checked ){
		action = "create";
	}
	
	$.ajax({
	   	type: 'POST',
	   	url: window.location.pathname, // post to current location url
	   	data: "student="+student+"&action=release&release=" + action,
	   	success: function(data) {
			$('#'+student).toggleClass('bold');
	   	},
	   	error: function(jqXHR, textStatus, errorThrown) {
	   	}
	 });
}


</script>

<style>
.bold{
	font-weight: bold;
}
</style>

{foreach from=$info item=student}
<div class="link studentSubmission {if $student.num == $greatest[$student.student]}latestSubmission{/if}">
	<input title="Click to release comments" type="checkbox" student="{$student.dirname}" 
			name="release" value="" {if $student.release}checked{/if} />
    <a {if $student.release}class='bold'{/if} 
		href="{$course->get_link()}/code/{$assignment}/{$student.dirname}" 
		id="{$student.dirname}">{$assignment} by {$student.dirname}</a>
</div>
{/foreach}

{include file="footer.html"}
