{include file="header.html"}

<script type="text/javascript">
SyntaxHighlighter.all();
var converter = new Showdown.converter();
</script>

{if $sl_class and !$print_view}
<div class="message">
<div class="title">Hi Section Leaders.</div>
Lots of updates and bug fixes! You can now make multiple comments on the same line or same line range and it should work. Email me or <a href="https://spreadsheets.google.com/viewform?formkey=dFdQbGljMUg5OEQyekd2VWlIN0Jmbmc6MQ" target="_blank">take this survey</a> to make paperless better.
</div>
{/if}


{if $student_class and !$print_view}
<div class="message">
<div class="title">Hi Students!</div>
I hope you have enjoyed using paperless this quarter and that it has improved the process of submitting and getting feedback on your code. We are always trying to make it better, and if you want to help, <a href="https://spreadsheets.google.com/viewform?formkey=dGhJTVFZTHR6OE9LNGdJYldzc0Y3V2c6MQ" target="_blank">take this quick survey.</a>
</div>
{/if}


<div id="codeheader">
{if $sl_class or $admin_class}
<span class="link"><a href="{$root_url}{$class}/assignment/{$sl}/{$assignment}">{$assignment}</a></span>
{else}
{$assignment}
{/if}
:
<span class="link"><a href="{$root_url}{$class}/student/{$student}">{$student_display}</a></span>
</div>

{if !$print_view}
<div id="filelist">
    {foreach from=$files item=file key=i}
    <span id="fileList{$i}" class="filelink"><a href="javascript:display('{$i}')">{$file}</a></span>
    {/foreach}
	<div style="clear:both"></div>

</div>

<div style="clear:both"></div>
{/if}

<script type="text/javascript">
{if ($sl_class or $admin_class) and !$print_view}
var interactive = true;
{else}
var interactive = false;
{/if}

    var files = new Array();
    {foreach from=$files item=file key=i}
    files[{$i}] = '{$file}';
    {/foreach}
    
    // we need to wait for the syntax highlighter to finish before we access the modified dom
    $(document).ready(function(){
       	setTimeout("setupCodeFiles()", 3000); 
	 	$(':checkbox').change(function() {
			release();
		});
    });
    
    function setupCodeFiles(){
        {foreach from=$files item=file key=i}
		var cur_file = new CodeFile('{$file}', {$i}, interactive);
		code_files.push(cur_file);
		cur_file.setupComments();
    	{/foreach}
		{if $print_view}
			displayAll();
		{else}
			display(0);
		{/if}
		
    }
    
    function hideall(){
    	 for(var i = 0; i < files.length; i++){	 
    		 document.getElementById("file" + i).className = "hidden";
    		 document.getElementById("comments" + i).className = "hidden";
 			$('#fileList'+i).removeClass('selectedFile');
    	 }
    }

    function displayAll(){
		for(var i = 0; i < code_files.length; i++){
			display(i, false);
		}
    }

    function display(fileNum, hide){
		 if(hide == undefined) hide = true;
	
		 current_file_id = fileNum; //so we know what is currently being viewed
    	 if(hide)
			hideall();
    	 document.getElementById("file" + fileNum).className = "visible";	 
    	 document.getElementById("comments" + fileNum).className = "visible";
		 $('#fileList'+fileNum).addClass('selectedFile');
		 //console.log(code_files[fileNum]);
		if(!code_files[fileNum].displayed)
		   code_files[fileNum].showComments();
    }
    
    function edit(fileID, commentRange, commentID){
    	var file = code_files[fileID];
		var comment = file.getCommentByRangeAndID(commentRange, commentID);
		if(comment) comment.edit();
    }

	function release(){
 		var action = "delete";
		var val = $('input:checkbox:checked').val(); 
 		if(val != undefined){
 		 	action = "create";
 		}
 		$.ajax({
 		   	type: 'POST',
 		   	url: window.location.pathname, // post to current location url
 		   	data: "action=release&release=" + action,
 		   	success: function(data) {
				showSaved();
 		   	},
 		   	error: function(XMLHttpRequest, textStatus, errorThrown) {
 				//TODO
		   	}
 		 });
 	}

	function resetSaved(){
			$("#saved").addClass("hidden");

	}
	function fade(){	
			$("#saved").fadeOut(400);
			setTimeout("resetSaved()", 500);
	}
	function showSaved(){
			$("#saved").removeClass("hidden");
			$("#saved").css("display", "block");
			setTimeout("fade()", 700);
	}	
</script>

{foreach from=$files item=file key=i}
<div id="comments{$i}">
	
{if $showComments}
{foreach from=$assignment_files[$i]->getAssignmentComments() item=comment}
<div id="etop{$comment->getStartLine()}-{$comment->getEndLine()}" class="inlineComment">
<span class="hiddenPlainText">{$comment->getCommentText()|stripslashes}</span>
</div>
{/foreach}
{/if}

	
</div>
{/foreach}

{if !$print_view}


<div id="rightside">

<div id="printlink">
	<div class="link smaller"><a href="{$code_file}/print" target="_blank">Print</a></div>
</div>

{if $sl_class or $admin_class}
<div id="release">
	<form class="link smaller">
	<input type="checkbox" name="release" value="" {if $release}checked{/if} />Release<br />
	</form>
</div>

<div id="saved" class="hidden">
	Saved.
</div>

{/if}
</div>
{/if}

{foreach from=$files item=file key=i}
<div id="file{$i}" class="hidden">
    <pre class="brush: cpp; gutter: false;">
{$file_contents[$i]}
    </pre>
</div>
{/foreach}
