{include file="header.html"}

{include file="tipbox.html"}

<script type="text/javascript">
SyntaxHighlighter.all();
var converter = new Showdown.converter();
</script>

{include file="codepage/comment_template.html"}

{include file="codepage/code_header.html"}

{include file="codepage/code_filelist.html"}

<script type="text/javascript">
{if $role >= $POSITION_SECTION_LEADER}
CodeManager.interactive = true;
CodeManager.commenting_user = '{$user->display_name}';
var interactive = true;
{else}
CodeManager.interactive = false;
var interactive = false;
{/if}
    function hideAllComments() {
        $('.inlineComment').hide();
    }

    function displayAllComments() {
        $('.inlineComment').show();
    }

</script>

{include file="codepage/code_comments.html"}

{include file="codepage/code_options.html"}

{include file="codepage/code_files.html"}