{include file="header.html"}

<h2>Submission Page for {$class|upper}</h2>


{if !isset($dragdrop)}
<div class="padded">Hi, {$name|escape}. Welcome to the drag and drop submitter.</div>

<div class="padded">Select assignment to submit:</div>
<form  class="padded" action="{$root_url}{$class|lower}/ddsubmit" method="POST"> 
	<select name="assignment">
		{foreach from=$assignments item=assignment}
		<option value="{$assignment.DirectoryName}">{$assignment.Name}</option>
		{/foreach}
	</select>
	<div class="padded-top"><input type="submit" value="Next" /></div>
</form>
{else}

<div class="italic">submitting {$assndir}</div>

<div class="padded">Drag and drop the <span style="font-weight: bold;">files (not directories!)</span> you want to include onto blue box. These are generally the source files which you modified ({$sourcelist}). 
	
	</div>

<table>
	<tr>
		<td>
<div class="padded link underline"><a href="{$root_url}{$class|lower}/code/{$assndir}">View My Submission</a></div>
		</td>
		<td>
<div class="padded link underline" id="fbpost">

</div>
		</td>
	</tr>
</table>

<script type="text/javascript" src="{$root_url}static/js/html5uploader.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  new uploader('drop', 'status', '{$root_url}{$class|lower}/ddupload', 'list', '{$assndir}');

});

FB.getLoginStatus(function(response) {
  if (response.session) {
	// console.log('logged in');

	$('#fbpost').html('<a href="#">Share on Facebook</a>');
	$('#fbpost').bind('click', function(){
		FB.ui({ method: 'feed', 
		       message: 'Just submitted my {$class} assignment with Paperless!'});
	});

	
    // logged in and connected user, someone you know
  } else {
	$("#fblogin").css('display', 'block');
	// console.log('not logged in');
	//this was tricky. only if they were NOT LOGGED IN, then THE SESSION CHANGES,
	//then reload. otherwise well just keep reloading forever.
	FB.Event.subscribe('auth.sessionChange', function(response) {
	  // do something with response.session
		// console.log(response);
		if(response.status == "connected"){
		  	window.location.reload();
		}

	});

  }
});




</script>

<style> 
#box {
	background-color: #8FA1B2;
	width: 100%;
	border: 1px solid #8FA1B2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-bottom: 10px;
	float: left;
}
#box p {
	font-size: 10px;
	padding: 5px;
	margin: 0px;
}
#drop {
/*	width: 100%;*/
	height: 300px;
	background-color: #DDE3E8;
}

#status {
	width: 100%;
	height: 25px;
	font-size: 12px;
	color: #fff;
	padding: 5px;
}

#list {
	width: 100%;
	font-size: 18px;
	float: left;
	margin-left: 10px;
}

.thick{
	border: 4px dashed black;
}
</style>


<div id="box">  
        <div id="status">status text</div>  
        <div id="drop"></div>  
</div> 
<div style="clear:both"></div> 
<div id="list"></div>

<div style="clear:both"></div>



{/if}

{include file="footer.html"}
