            </div>
        </div>
        <div id="footer" class="content-footer">
        	<div class="footer-item"><a href="http://stanfordpaperless.tumblr.com/">blog</a></div>
        	<div class="footer-item"><a href="http://stanfordpaperless.tumblr.com/about">about</a></div>	
        	<div class="footer-item"><a href="mailto:jkeeshin@stanford.edu">questions</a></div>					
        </div>
    </div>

{if isset($code)}
  <script type="text/javascript" src="wmd/wmd.js"></script>
{/if}
</body>
</html>
