            </div>
        </div>
        <div id="footer" class="content-footer">
        	<div class="footer-item"><a href="http://stanfordpaperless.tumblr.com/">blog</a></div>
        	<div class="footer-item"><a href="http://stanfordpaperless.tumblr.com/about">about</a></div>	
        	<div class="footer-item"><a href="mailto:paperlesscode@googlegroups.com" title="Having problems? Send us an email and we'll get back to you as soon as we can!">questions</a></div>					
        </div>
    </div>

{if isset($code)}
  <script type="text/javascript" src="wmd/wmd.js"></script>
{/if}
</body>
</html>
