<html>
<head>
<title>Paperless</title>

<script>
root_url = '{$root_url}';
</script>


<link rel="stylesheet" type="text/css" href="{$root_url}/static/css/style.css">
</head>
<body>
    <div id="container">
        <div id="logo"><a href="{$root_url}" id="logo-link"></a></div>
        <div id="user">
            <div id="name">{$display_name}</div>
            <div id="nav">
                {if $is_admin}
                <a href="{$root_url}{$class}/admin">Admin</a>
                {/if}
                {if $is_section_leader}
                <a href="{$root_url}{$class}/sectionleader/{$username}">My Section</a>
                {/if}
                
                {if $is_student}
            	    <a href="{$root_url}{$class}/student/{$username}">My Code</a>
            		{if $class != "cs106a"}
            		<a href="{$root_url}{$class}/submit">Submit</a>
            		{/if}
            	{/if}
            </div>
            <div class="clearfloat"></div>
        </div>
        <div class="clearfloat"></div>
        <div class="content-header"></div>
        <div class="content-wrapper">
            <div class="content">
                

