<html>
<head>
<title>Paperless</title>

<script type="text/javascript">
root_url = '{$root_url}';
</script>

<link rel="shortcut icon" href="{$root_url}static/images/favicon.ico" type="image/x-icon" /> 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{$root_url}static/js/jquery-ui-1.8.13.custom.min.js"></script> 
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css"> 


{if isset($code)}
<script type="text/javascript" src="{$root_url}static/js/showdown.js"></script>
<script type="text/javascript" src="{$root_url}static/js/feedback.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/shortcut.js?v{$version}"></script>

<script type="text/javascript" src="{$root_url}static/js/Comment.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/LineRange.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/CodeFile.js?v{$version}"></script>

<script type="text/javascript" src="{$root_url}static/js/jquery.tmpl.min.js?v{$version}"></script>

<script type="text/javascript" src="{$root_url}static/js/syntaxhighlighter/scripts/shCore.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<link type="text/css" rel="stylesheet" href="{$root_url}static/js/syntaxhighlighter/styles/shCoreDefault.css" id="syntaxStylesheet" />
{/if}


<link rel="stylesheet" type="text/css" href="{$root_url}/static/css/style.css">
</head>
<body>
    <div id="container{if isset($print_view)}-fullscreen{/if}">
		{if isset($ie)}
		<div class="iebox">
		This site is not designed for Intenet Explorer.  If you want to see this webpage as intended, please use <a href="http://www.google.com/chrome">Google Chrome</a> or <a href="http://firefox.com">Mozilla Firefox.</a>
		</div>
		{/if}
		{if !isset($print_view)}
        <div id="logo"><a href="{$root_url}" id="logo-link"></a></div>
        <div id="user">
			{if isset($class)}
			<div id="classname">{$class|upper}</div>
			{/if}
            <div id="name">{$display_name|escape}</div>
            <div id="nav">	
                {if isset($admin_class)}
                <a href="{$root_url}{$admin_class}/admin">Admin</a>
                <a href="{$root_url}{$admin_class}/manage">Manage</a>
                {/if}
                {if isset($sl_class)}
                <a href="{$root_url}{$sl_class}/sectionleader/{$username}">My Section</a>
                {/if}
                {if isset($multiple_classes)}
				<a href="{$root_url}select">My Classes</a>
				{/if}
                {if isset($student_class)}
            	    <a href="{$root_url}{$student_class}/student/{$username}">My Code</a>
            		{if $student_class != "cs106a"}
            		<a href="{$root_url}{$student_class}/ddsubmit">Submit</a>
            		{/if}
            	{/if}
            </div>
            <div class="clearfloat"></div>
        </div>


		{/if}
        <div class="clearfloat"></div>
        <!-- <div class="content-header codesettings"></div> -->
        <div class="content-wrapper">
            <div class="content">
        
				{if isset($sl_class) and !isset($print_view)}
				<!-- <div class="message">
				<div class="title">Hi Section Leaders.</div>
				Please take a few minutes to <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dFF3RDhNdndSbldwbXV3aHJYc3Jqemc6MQ">fill out this survey</a> for us to let us know how Paperless is working for you. Thanks!
				</div> -->
				{/if}
				
				{if isset($student_class)}
				<!-- <div class="message">
					<div class="title">Hi Students!</div>
					Please take a minute to <a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dHVQZjhpN3FZeWt3d285SURpNGZCZHc6MQ">fill out this survey</a> and let us know how Paperless is working for you and how we can make it better. Thanks!
				</div> -->
				{/if}

