<html>
<head>
<title>Paperless</title>

<script type="text/javascript">
root_url = '{$root_url}';
DEBUG_ON = {$DEBUG_ON};
var no_logging = function() {};
no_logging.log = function() {};
no_logging.info = function(){};
window.debug = DEBUG_ON ? console: no_logging;
window.D = window.debug;
</script>

<link rel="shortcut icon" href="{$root_url}static/images/favicon.ico" type="image/x-icon" /> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{$root_url}static/js/jquery-ui-1.8.13.custom.min.js"></script> 
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css"> 

<script type="text/javascript" src="{$root_url}static/js/ThemeManager.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/AjaxManager.js?v{$version}"></script>


{if isset($code)}
<script type="text/javascript" src="{$root_url}static/js/feedback.js?v{$version}"></script>

{/if}

<script type="text/javascript" src="{$root_url}static/js/shortcut.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/Comment.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/LineRange.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/CodeFile.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/jquery.tmpl.min.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/showdown.js"></script>

<script type="text/javascript" src="{$root_url}static/js/syntaxhighlighter/scripts/shCore.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<link type="text/css" rel="stylesheet" href="{$root_url}static/js/syntaxhighlighter/styles/shCoreDefault.css" id="syntaxStylesheet" />


<script type="text/javascript">
$(document).ready(function(){
    new ThemeManager({
        theme: '{$settings->get_value('theme')}'
    });
});
</script>


<link rel="stylesheet" type="text/css" href="{$root_url}/static/css/style.css">
</head>
<body>
    <div id="container{if isset($print_view)}-fullscreen{/if}">
		{if isset($ie)}
		<div class="iebox">
		This site is not designed for Intenet Explorer.  If you want to see this webpage as intended, please use <a href="http://www.google.com/chrome">Google Chrome</a> or <a href="http://firefox.com">Mozilla Firefox.</a>
		</div>
		{/if}
		{if !isset($print_view)}
        <div id="logo"><a href="{$root_url}" id="logo-link"></a></div>
        <div id="user">
			{if isset($course)}
			<div id="classname">{$course->short()} ({$role_string})</div>
			{/if}
            <div id="name">{$display_name|escape}</div>
            <div id="nav">	
                {if $role >= $POSITION_TEACHING_ASSISTANT}
                <a href="{$course->get_link()}/admin">Admin</a>
                <a href="{$course->get_link()}/manage">Manage</a>
                {/if}
                {if $role == $POSITION_SECTION_LEADER}
                <a href="{$course->get_link()}/sectionleader/{$username}">My Section</a>
                {/if}
				<a href="{$root_url}">My Classes</a>
                {if $role == $POSITION_STUDENT}
            	    <a href="{$course->get_link()}/student/{$username}">My Code</a>
					{if $course->settings->get_value('use_submitter') == 'yes' and $current_quarter->id == $quarter_id}			
						<a href="{$course->get_link()}/ddsubmit">Submit</a>
					{/if}
            	{/if}

				<a href="{$root_url}settings" title="Settings">
					<img id="settings_icon" src="{$root_url}static/images/gear.png">
				</a>
            </div>
            <div class="clearfloat"></div>
        </div>


		{/if}
        <div class="clearfloat"></div>
        <div class="content-wrapper">
            <div class="content">
        
				<!-- <div class="message">
				<div class="title">Hi Section Leaders.</div>
				Please take a few minutes to <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEc5bnZZcEpKZEhDV0pTdTVYcGhYdUE6MA#gid=0">fill out this survey</a> for us to let us know how Paperless is working for you. Thanks!
				</div> -->


