{include file="header.html"}

<script type="text/javascript">
$(document).ready(function(){
	$("select").change(function() {
	  	var sl = "";
        $("select option:selected").each(function () {
              sl += $(this).text() + " ";
            });
			var newurl = "{$course->get_link()}/sectionleader/" + sl;
			window.location = newurl;
	});
});

</script>

<div class="header" style="padding-left:20px; margin-bottom: 0px; font-weight: bold;">
	SL: {$sl}
</div>

<div class="list">
    <div class="header">Students</div>
        {foreach from=$students item=student}
        <div class="link"><a href="{$student->get_link()}">{$student->get_display_name()}</a></div>
        {/foreach}
</div>

<div class="list">
    <div class="header">Assignments</div>
		{if isset($no_assns)}
		<div>Nothing Submitted Yet!</div>
		{/if}
        {foreach from=$assignments item=assignment}
        <div class="link"><a href="{$course->get_link()}/assignment/{$sl}/{$assignment}">{$assignment}</a></div>
        {/foreach}
</div>

<div class="clearfloat"></div>

<div class="list">
	<div class="header">Other Section Leaders</div>
	<select>
		<option>Select SL to Switch Views</option>
	{foreach from=$sls item=sl}
	  <option>{$sl}</option>
	{/foreach}
	</select>
</div>

<div class="clearfloat"></div>
{include file="footer.html"}
