{include file="header.html"}

<div class="list">
    <div class="header">Students</div>
        {foreach from=$students item=student}
        <div class="link"><a href="{$root_url}{$class}/student/{$student.SUNetID}">{$student.DisplayName|escape}</a></div>
        {/foreach}
</div>

<div class="list">
    <div class="header">Assignments</div>
        {foreach from=$assignments item=assignment}
        <div class="link"><a href="{$root_url}{$class}/assignment/{$sl}/{$assignment}">{$assignment}</a></div>
        {/foreach}
</div>

<div class="clearfloat"></div>
{include file="footer.html"}
