<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{$root_url}static/js/jquery-ui-1.8.13.custom.min.js"></script> 

<script type="text/javascript" src="{$root_url}static/js/ThemeManager.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/AjaxManager.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/CodeManager.js?v{$version}"></script>

<script type="text/javascript" src="{$root_url}static/js/shortcut.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/Comment.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/LineRange.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/CodeFile.js?v{$version}"></script>

<script type="text/javascript" src="{$root_url}static/js/feedback.js?v{$version}"></script>

<script type="text/javascript" src="{$root_url}static/js/jquery.tmpl.min.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/showdown.js"></script>

<script type="text/javascript" src="{$root_url}static/js/syntaxhighlighter/scripts/shCore.js?v{$version}"></script>
<script type="text/javascript" src="{$root_url}static/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
