{include file="header.html"}

<div class="header">{$class|upper} Settings</div>

<div>
	<table>
		<tr>
			<td class="table-title">Assignment Name</td>
			<td class="table-title">Directory Name</td>
			<td class="table-title">Due Date</td>
		</tr>
		<tr>
			<td class="table-info">what students see</td>
			<td class="table-info">lower camel case</td>
			<td class="table-info">format: YYYY-MM-DD HH:MM</td>
		</tr>
		<tr>
			<form action="{$root_url}{$class|lower}/manage" method="post">
			<td>	<input type="text"  name="name"  /></td>
			<td>	<input type="text" name="directory" /></td>
			<td>	<input type="text" name="duedate" /></td>
			<td> 	<input type="submit" value="Add" /></td>
			</form>
		</tr>
		<!-- for every existing assignment, display its data -->
		<tr>
			<form action="{$root_url}{$class|lower}/manage" method="post">
			<input type="hidden" name="id" value="5" />
			<td>	<input type="text" name="name" value="Game of Life" /></td>
			<td>	<input type="text" name="directory" value="life" /></td>
			<td>	<input type="text" name="duedate" value="1-23" /></td>
			<td> 	<input type="submit" value="Update" /></td>
			</form>
		</tr>
		<!-- end for -->
	</div>
</div>

<div class="clearfloat"></div>
{include file="footer.html"}
