{include file="header.html"}

<div class="header">{$course->name|upper} Settings</div>

{if $settings_saved}
<div class="notice">Settings saved.</div>
{/if}


<div>
	
	{if isset($old_quarter)}
	<div class="message">
		Since this is an old quarter, you cannot modify the assignment settings.
	</div>
	{/if}
	
	
	
	<table>
		<tr>
			<td class="table-title">Assignment Name</td>
			<td class="table-title">Directory Name</td>
			<td class="table-title">Due Date</td>
		</tr>
		<tr>
			<td class="table-info">what students see</td>
			<td class="table-info">lower camel case</td>
			<td class="table-info">format: YYYY-MM-DD HH:MM</td>
		</tr>
		{if !isset($old_quarter)}
		<tr>
			<form action="{$course->get_link()}/manage" method="post">
			<td>	<input type="text"  name="name"  /></td>
			<td>	<input type="text" name="directory" /></td>
			<td>	<input type="text" name="duedate" /></td>
			<td> 	<input type="submit" name="action" value="Add" /></td>
			</form>
		</tr>
		{/if}
		<!-- for every existing assignment, display its data -->
		
		{foreach from=$assignments item=assignment key=i}
			
			<tr>
				<form action="{$course->get_link()}/manage" method="post">
				<input type="hidden" name="action" value="update" />
				<input type="hidden" name="id" value="{$assignment.ID}" />
				<td>	<input type="text" name="name" value="{$assignment.Name}" 
						{if isset($old_quarter)}disabled="disabled" {/if}
						/></td>
				<td>	<input type="text" name="directory" value="{$assignment.DirectoryName}" 
						{if isset($old_quarter)}disabled="disabled" {/if}
						/></td>
				<td>	<input type="text" name="duedate" value="{$assignment.DueDate}" 
						{if isset($old_quarter)}disabled="disabled" {/if}
						/></td>
				{if !isset($old_quarter)}
				<td> 	<input type="submit" name="action" value="Update" /></td>
				<td> 	<input type="submit" name="action" value="Delete" /></td>
				{/if}
				</form>
			</tr>
			
		{/foreach}
	</table>
		<!-- end for -->
	</div>
	<div style="clear:both;"></div>
	
	
	<div id="config_wrapper">
		<div id="config_title">Course Configuration</div>
		<form action="{$course->get_link()}/manage" method="post">
			<div class="config_option">
				<label>File Types (comma separated):</label><input type="text"  name="file_types" value="{$course->settings->get_value('file_types')}" />
			</div>
			<div class="config_option">
				<label>Use Submitter:</label>
					<input type="radio" name="use_submitter" value="yes"
					{if $course->settings->get_value('use_submitter') == 'yes'}checked{/if} /> Yes
					<input type="radio" name="use_submitter" value="no" 
					{if $course->settings->get_value('use_submitter') == 'no'}checked{/if} /> No
			</div>
			<input type="submit" value="Update Configuration" />
		</form>
	</div>
</div>

<div class="clearfloat"></div>
{include file="footer.html"}
