{include file="header.html"}

<div class="header">My Settings</div>

{if $settings_saved}
<div class="notice">Settings saved.</div>
{/if}

<div>
	<form  class="padded" action="{$root_url}settings" method="POST"> 
		<label>Theme:</label>
		<select name="theme" id="settings_theme_picker">
			{foreach from=$theme_options item=option}
				<option value="{$option}"
				{if $settings->get_value('theme') == $option}
				selected="selected"
				{/if}
				>{$option}</option>
			{/foreach}
		</select>
		
		<div id="settings_code_sample">
			<pre class="brush: cpp; gutter: false;">
			/*
			 * A sample of what this theme looks like
			 * 
			 */
			private int add(int x, int y){
				return x + y;
			}
			</pre>
		</div>
		
		<div class="padded-top"><input type="submit" value="Save" /></div>
	</form>
</div>

<div class="clearfloat"></div>

{include file="footer.html"}
