{include file="header.html"}

<div class="wideList">
    <div class="header">Assignment List</div>
		{if $nofiles}
		<div>No Assignment Files Yet!</div>
		{/if}
		{if $nosl}
		<div style="padding: 10px; font-weight: bold;">It appears that you do not have a section leader. Please contact the TA.</div>
		{/if}
        {foreach from=$information item=assignment}
        <div class="link">
			<div class="studentAssignment">
				<a href="{$root_url}{$class}/code/{$assignment.assignment}/{$assignment.studentdir}">{$assignment.assignment}</a>
			</div>
			<span class="studentAdditional">
			{foreach from=$assignment.all item=assn key=i}
			<a href="{$root_url}{$class}/code/{$assignment.assignment}/{$assn}">({$i + 1})</a>
			{/foreach}
			<span>
		</div>
		<div style="clear:both"></div>
        {/foreach}
</div>
<div class="clearfloat"></div>

{include file="footer.html"}
