{include file="header.html"}

{if isset($student_class) and $class|lower == "cs106a"}
<div class="message">
<div class="title">Hi CS106A Students!</div>
We've finished moving the Breakout submissions, so make sure you see all of yours here. If you have any questions, email <a href="mailto:paperlesscode@googlegroups.com">paperlesscode@googlegroups.com</a>.
</div>
{/if}


<div class="wideList">
    <div class="header">Assignment List for {$student|escape}</div>
	<div class="small-header">Section Leader: {$sl}</div>
		{if isset($nofiles)}
		<div>No Assignment Files Yet!</div>
		{/if}
		{if isset($nosl) and $class|lower != "cs109l"}
		<div style="padding: 10px; font-weight: bold;">It appears that you do not have a section leader. Please contact the TA.</div>
		{/if}
        {foreach from=$information item=assignment}
        <div class="link">
			<div class="studentAssignment">
				<a title="View Most Recent Submission" href="{$root_url}{$class}/code/{$assignment.assignment}/{$assignment.studentdir}">{$assignment.assignment}</a>
			</div>
			
			{foreach from=$assignment.all item=assn key=i}
			<div class="studentAdditional"><a href="{$root_url}{$class}/code/{$assignment.assignment}/{$assn}">submission {$i + 1}</a></div>
			{/foreach}
			
		</div>
		<div style="clear:both"></div>
        {/foreach}
</div>
<div class="clearfloat"></div>

{include file="footer.html"}
