{include file="header.html"}

<h2>Submission Page for {$class|upper}</h2>

<script>
function showMac(){
	$('#macvideo').removeClass('hidden');
}

function showPC(){
	$('#pcvideo').removeClass('hidden');
}

function close(){
	$('#macvideo').addClass('hidden');
	$('#pcvideo').addClass('hidden');
}
</script>

<div id="macvideo" class="hidden">
	<div id="closeVideo"><a href="javascript:close()">Close</a></div>
<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/dgV48AY6-Jw?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/dgV48AY6-Jw?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
</div>

<div id="pcvideo" class="hidden">
	<div id="closeVideo"><a href="javascript:close()">Close</a></div>
<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/m2FStgSocLg?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/m2FStgSocLg?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
</div>

<div class="padded">Welcome, {$name|escape}.</div>
<div class="padded">Please zip together your source ({$sourcelist}) files, as well as any files that you wish to include in your submission.
Just zip the files you want to submit, do not zip a directory containing those files.</div>

<div class="padded">
Intructions
<ul>
<li>Copy files you want to submit to the same place.</li>
<li>Select the files you want to submit</li>
<li>Right click and select 'Compress' (Mac) or 'Send to Compressed Folder' (PC)</li>
<li>Submit the newly created zip file.</li>
</ul>	
</div>
	
<h2>Please watch the video before you submit.</h2>

<div class="padded link underline"><a href="javascript:showMac()">Video: How to Zip Files on a Mac</a></div>
<div class="padded link underline"><a href="javascript:showPC()">Video: How to Zip Files on a PC</a></div>


<div class="padded">Select assignment to submit:</div>
<form  class="padded" enctype="multipart/form-data" action="{$root_url}{$class|lower}/upload" method="POST"> 
	<select name="assignment">
		{foreach from=$assignments key=dir item=arr}
		<option value="{$dir}">{$arr.Name}</option>
		{/foreach}
	</select>
	<div class="padded-top"><input name="uploaded" type="file" /><br/></div>
	<div class="padded-top"><input type="submit" value="Upload" /></div>
</form>

{include file="footer.html"}
