{include file="header.html"}

<h2>Submission Page for {$class}</h2>

<script>
function showMac(){
	$('#macvideo').removeClass('hidden');
}

function close(){
	$('#macvideo').addClass('hidden');
}
</script>

<div id="macvideo" class="hidden">
	<div id="closeVideo"><a href="javascript:close()">Close</a></div>
<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/C8QXf6UXWJo?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/C8QXf6UXWJo?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
</div>

<div class="padded">Welcome, {$name}.</div>
<div class="padded">Please zip together your source ({$sourcelist}) files, as well as any files that you wish to include in your submission.
Just zip the files you want to submit, do not zip a directory containing those files.</div>

<div class="padded link underline"><a href="javascript:showMac()">How to Zip Files on a Mac</a></div>
<div class="padded link underline"><a href="javascript:showMac()">How to Zip Files on a PC</a></div>


<div class="padded">Select assignment to submit:</div>
<form  class="padded" enctype="multipart/form-data" action="{$root_url}{$class|lower}/upload" method="POST"> 
	<select name="assignment">
		{foreach from=$assignments key=dir item=arr}
		<option value="{$dir}">{$arr.Name}</option>
		{/foreach}
	</select>
	<div class="padded-top"><input name="uploaded" type="file" /><br/></div>
	<div class="padded-top"><input type="submit" value="Upload" /></div>
</form>

{include file="footer.html"}
