{foreach from=$code_files item=info key=file name=codeloop}
	<div class="comments_holder" data-id='{$smarty.foreach.codeloop.index}'>
	{if $showComments}
		{foreach from=$info['assn']->getAssignmentComments() item=comment}
			<div class="inlineComment" 
					data-range="{$comment->getStartLine()}-{$comment->getEndLine()}"
					data-id="{$comment->getID()}">
				<span class="comment hiddenPlainText">{$comment->getCommentText()|stripslashes}</span>
				<span class="commenter hiddenPlainText">{$comment->getCommenter()}</span>
			</div>
		{/foreach}
	{/if}
	</div>
{/foreach}