<div id="filelist">
    {foreach from=$code_files item=info key=file name=codeloop}
    <span class="filelink" data-id='{$smarty.foreach.codeloop.index}'>
	<a href="#" data-name="{$file}" data-id='{$smarty.foreach.codeloop.index}'>
		{$file}
	</a>
	</span>
    {/foreach}

	<div style="clear:both"></div>
</div>
<div style="clear:both"></div>

<div id="fulltree" style="display:none;">
    {foreach from=$full_tree item=file name=codeloop}
	<span class="full_tree_listing">{$file}</span>
    {/foreach}
	<div style="clear:both"></div>
</div>
