textarea{
	height: 100;
	width: 300;
	font-family: Georgia;
	font-size: 16px;
	border: 2px solid black;
}

#mylinks{
	position: absolute;
	top: 50px;
	right: 20px;
}

.keyboardShortcuts{
	color: yellow;
	width: 140px;
	float: left;
	font-family: courier new;
}

.keyboardTitle{
	font-size: 18px;
	padding-bottom: 10px;
}

.codeposition{
	position: absolute;
	top: 200px;
	width: 880px; 
	z-index: -5; /* go in the back */
	border: 1px solid black;  
}

.commentbox{
	width: 300px;
	background-color: #A9C5EB;
	padding: 7px;
	border: 2px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index: 100;
}

.commentbox:hover{
	border: 2px solid black;
}


.hidden{
	display:none;
}

.visible{
	display:block;
}

body{
	font-family: Trebuchet MS, Verdana;   
	height: 10px;
	background-image:url('../images/paper.jpg');
}

.link{
	padding: 5px;
	margin: 0px;
}

.link a{
	margin: 0px;
	color: black;
	padding: 5px;
}

.link a:hover{
	color: white;
	background-color: gray;
	padding: 5px;
}

#wrapper{
	width: 800px;
	margin: auto;
	padding-top: 10px;
}

#code_wrapper{
	margin: auto;
	padding-top: 10px;
}


#footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#studentList{
	background-color: red;
	width: 200px;
	height: 200px;
	float: left;
}

.list{
	width: 300px;
	padding: 0px 20px 20px 20px;
	float: left;	
}

#assignmentList{
	height: 200px;
	width: 200px;
	float: left;
}

.header{
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#username{
	position: absolute;
	top: 20px;
	right: 20px;
}

.title{
	font-size: 35px;
}

.smallTitle{
	font-size: 20px;
}

.title a, .smallTitle a{
	text-decoration: none;
	color: black;
	font-family: Trebuchet MS, Verdana;   
}



a{
	text-decoration: none;
	color: black;
}


/*
* BEGIN NEW STYLE SHEET
*/


/*
 * Submission Style
 */

.padded{
	padding:10px;
}

.padded-top{
	padding-top: 10px;
}


/* Code Style
 *
 */
 #filelist{
	position: absolute;
	top: 113px;
	right: 30px;
	z-index: 100;
	background-color: white;
	padding: 10px;
	border: 1px solid #bddff3;
}

#codeheader .link, #codeheader .link a{
	font-size: 24px;
	font-weight: bold;
}

#container-code{
	padding-top: 20px;
	padding-left: 60px;
	width: 880px;
}

.user-code{
	position: absolute;
	top: 0px;
	right: 30px;
}


body {
    background: url("../images/bg.png") repeat scroll;
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial, freesans, sans-serif;
}

#logo {
    width: 212px;
    height: 79px;
    margin-top: 13px;
    margin-left: 20px;
    background: url("../images/logo.png");
    float: left;
}

#logo-link {
   display: block;
   width: 100%;
   height: 100%;
}

#container {
    width: 875px;
    height: 600px;
    padding: 0;
    margin: 0 auto;
}

#user {
    width: 400px;
    height: 36px;
    margin-top: 32px;
    float: right;
	background-color: white;
	border: 1px solid #bddff3;
    /*background: url("../images/user.png");*/


}

#name {
    font-family: Helvetica;
    font-size: 10pt;
    font-weight: bold;
    padding: 12px;
    float: left;
}

#nav {
    font-family: Helvetica;
    font-size: 10pt;
    padding: 11px 0px 11px 0px;
    font-weight: bold;
    float: right;
}

#nav a:hover{
	text-decoration: underline;
}

#nav a {
    color: #4f86c8;
    text-decoration: none;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 15px;
}

.clearfloat {
    clear: both;
}

.content {
    padding: 20px 25px 20px 25px;
}

.content-wrapper {
    width: 880px;
    background: url("../images/content-bg.png");
}

.content-header {
    background: url("../images/content-header-bg.png");
    /*width: 100%;*/
	width: 880px;
    height: 4px;
}

.content-footer {
    background: url("../images/content-footer-bg.png");
    width: 100%;
    height: 4px;
}

/*
* Jquery UI Styles
*/
.ui-widget-header {
   background: #ffffff;
   border: 0;
   color: 46342c;
}

textarea {
   border: 1px solid #46342c;
}

.ui-widget textarea {
   font-size: 10pt;
}

.ui-dialog .ui-dialog-buttonpane {
   border: 0;
   margin: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
   font-size: 10pt;
   background: #46342c;
   color: #ffffff;
   border-right: 1px solid #dfc7bc;
   border-bottom: 1px solid #dfc7bc;
   border-top: 0;
   border-left: 0;
}

.ui-dialog .ui-dialog-buttonpane button.ui-state-hover {
   background: #76584b;
}