textarea{
	height: 100;
	width: 300;
	font-family: Georgia;
	font-size: 16px;
	border: 2px solid black;
}

#mylinks{
	position: absolute;
	top: 50px;
	right: 20px;
}

.keyboardLine{
	padding-top: 3px;
}

.keyboardShortcuts{
	color: yellow;
	width: 140px;
	float: left;
	font-family: courier new;
}

.keyboardTitle{
	font-size: 18px;
	padding-bottom: 10px;
}

.codeposition{
	position: absolute;
	top: 200px;
	width: 880px; 
	z-index: -5; /* go in the back */
	border: 1px solid black;  
}

.commentbox{
	width: 300px;
	background-color: white;
	padding: 7px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index: 100;
	border: 1px solid black;
}

.commentbox:hover{

}


.hidden{
	display:none;
}

.visible{
	display:block;
}

body{
	font-family: Trebuchet MS, Verdana;   
	height: 10px;
	background-color: #EDEFF4;
/*	background-image:url('../images/paper.jpg'); */
}

.link{
	padding: 5px;
	margin: 0px;
}

.link a{
	margin: 0px;
	color: black;
	padding: 5px;
}

.link a:hover{
	color: white;
	background-color: gray;
	padding: 5px;
}

.filelink{
	float: left;
	padding: 5px;
	font-size: 12px;
}

.filelink a{
	color: black;
	padding: 5px;
}

.filelink a:hover{
	color: white;
	background-color: gray;
	padding: 5px;
}

#wrapper{
	width: 800px;
	margin: auto;
	padding-top: 10px;
}

#code_wrapper{
	margin: auto;
	padding-top: 10px;
}


#footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#studentList{
	background-color: red;
	width: 200px;
	height: 200px;
	float: left;
}

.wideList{
	width: 600px;
	padding: 0px 20px 20px 20px;
	float: left;
}

.list{
	width: 250px;
	padding: 0px 20px 20px 20px;
	float: left;	
}

#assignmentList{
	height: 200px;
	width: 200px;
	float: left;
}

.header{
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#username{
	position: absolute;
	top: 20px;
	right: 20px;
}

.title{
	font-size: 35px;
}

.smallTitle{
	font-size: 20px;
}

.title a, .smallTitle a{
	text-decoration: none;
	color: black;
	font-family: Trebuchet MS, Verdana;   
}



a{
	text-decoration: none;
	color: black;
}


/*
* BEGIN NEW STYLE SHEET
*/


/*
 * Submission Style
 */

.padded{
	padding:10px;
}

.padded-top{
	padding-top: 10px;
}


/* Code Style
 *
 */
 #filelist{
/*	float :left;*/
	z-index: 100;
	background-color: white;
	padding: 10px;
	border: 1px solid #bddff3; 
}

#rightside{
	position: absolute;
	top: 90px;
	right: 30px;
}

#printlink{
	margin-top: 20px;
	z-index: 100;
	background-color: white;
	padding: 8px;
	border: 1px solid #bddff3;
}


.smaller{
	font-size: 12px;
}

#codeheader .link, #codeheader .link a{
	font-size: 15px;
	padding: 5px;
	font-weight: bold;
}

#codeheader{
	margin-bottom: 10px;
}

#container-code{
	padding-top: 20px;
	padding-left: 60px;
	width: 880px;
}

.user-code{
	position: absolute;
	top: 0px;
	right: 30px;
}


body {
   /* background: url("../images/bg.png") repeat scroll; */
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial, freesans, sans-serif;
}

#logo {
    width: 130px;
    height: 45px;
    margin-top: 32px;
    margin-left: 10px;
	margin-bottom: 10px;
    background: url("../images/logo2.png");
    float: left;
}

#logo-link {
   display: block;
   width: 100%;
   height: 100%;
}

#container {
/*    width: 725px;  */
	width: 70%; 
    height: 600px;
    padding: 0;
    margin: 0 auto;
}

#user {
    height: 36px;
    margin-top: 32px;
    float: right;
	background-color: white;
	border: 1px solid #bddff3;
}

#classname{
	font-family: Helvetica;
    font-size: 10pt;
    font-weight: bold;
    padding: 12px;
    float: left;
}

#name {
    font-family: Helvetica;
    font-size: 10pt;
    font-weight: bold;
    padding: 12px;
    float: left;
}

#nav {
    font-family: Helvetica;
    font-size: 10pt;
    padding: 11px 0px 11px 0px;
    font-weight: bold;
    float: right;
}

#nav a:hover{
	text-decoration: underline;
}

#nav a {
    color: #4f86c8;
    text-decoration: none;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 15px;
}

.clearfloat {
    clear: both;
}

.content {
    padding: 20px 25px 20px 25px;
}

.content-wrapper {
 	width: 100%;
  /*  background: url("../images/content-bg.png"); */
	background-color: white;
	border: 1px solid #bddff3;
}

.content-header {
   /* background: url("../images/content-header-bg.png"); */
    /*width: 100%;*/
	/*width: 880px; */
	width: 100%;
	border: px solid #bddff3;
    height: 4px;
}

/*.content-footer {
    background: url("../images/content-footer-bg.png");
    width: 100%;
    height: 4px;
}*/

/*
* Jquery UI Styles
*/
.ui-widget-header {
   background: #ffffff;
   border: 0;
   color: 46342c;
}

textarea {
   border: 1px solid #46342c;
}

.ui-widget textarea {
   font-size: 10pt;
}

.ui-dialog .ui-dialog-buttonpane {
   border: 0;
   margin: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
   font-size: 10pt;
   background: #46342c;
   color: #ffffff;
   border-right: 1px solid #dfc7bc;
   border-bottom: 1px solid #dfc7bc;
   border-top: 0;
   border-left: 0;
}

.ui-dialog .ui-dialog-buttonpane button.ui-state-hover {
   background: #76584b;
}

/* Student Page */
.studentAssignment{
	width: 160px;
	float: left;
}

.studentAdditional{
	clear: both;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 12px;
}

#submittedFiles{
	padding-left: 10px;
}

#submittedFilesTitle{
	font-weight: bold;
	padding-top: 10px;
}

.submittedFile{
	padding-top: 12px;
	padding-left: 17px;

}

/* Submit Instructions
 */

#macvideo, #pcvideo{
	position: absolute;
	top: 100px;
/*	left: 300px; */
	left: 50%;
	margin-left: -320px;
	padding: 20px;
	background-color: #ccc;
}

.underline{
	text-decoration: underline;
}

#closeVideo{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 3px;
}

#closeVideo:hover{
	text-decoration: underline;
}


/* Code File List */
.selectedFile{
	background-color: yellow;
}


/* Inline Comment CSS */
.content .code .inlineComment{
	background-color: white !important; 
/*	padding: 7px !important; */
	padding-left: 10px !important;
	padding-right: 10px !important;
	border: 2px solid black !important;
	font-family: Helvetica !important;
	margin: 10px !important;
	z-index: 5 !important;
/*	width: 780px !important; */
}

.content .code .inlineCommentText{
	font-family: Helvetica !important;
}

#footer{
	position: absolute;
	top: 20px;
}

.footer-item{
	padding-left: 10px;
	padding-top: 4px;
	width: 50px;
}

.footer-item a:hover{
	text-decoration: underline;
}

#release{
	margin-top: 20px;
	z-index: 100;
	background-color: white;
	padding: 8px;
	border: 1px solid #bddff3;
}

#saved{
	margin-top: 20px;
	z-index: 100;
	background-color: white;
	padding: 8px;
	border: 1px solid #bddff3;
	font-size: 12px;
	font-family: Helvetica;
	padding-left: 14px;
}

.hidden{
	display: none;
}

.error{
	color: red;
	font-weight: bold;
}


select{
	width: 200px;
}


.content .code .inlineComment .commentbox .commentauthor{
	font-style: italic !important;	
	font-family: Helvetica !important;
	float: right !important;
	font-size: 10px !important;
	margin-bottom: 0px !important;
}

.iebox{
	margin-top: 15px;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	background-color: #FFC1C1;
	border: 2px solid black;
}

.iebox a{
	text-decoration: underline;
}

.hiddenPlainText{
	display: none !important;
}

#loading{
	position: absolute;
	top: 200px;
	padding: 20px;
}

.message{
	font-family: Lucida Grande;
	background-color: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 11px;
/*	margin: 20px 0px; top-bottom l-r */
	margin: 10px 0px 20px 0px; /* T R B L */
	font-size: 12px;
}

.message .title{
	font-size: 13px;
	height: 16px;
	font-weight: bold;
	padding: 0px 0px 5px 0px;
}

.message a{
	text-decoration: underline;
	font-weight: bold;
}

.blackbox{
	width: 400px; 
	font-family: Arial; 
	position:fixed; 
	top: 100px; 
	left: 50%;
	margin-left: -250px;
	-moz-border-radius: 8px; 
	border-radius: 8px;"
	font-size: 16px; 
	background-color: black; 
	color: white; 
	padding: 60px; 
	opacity:0.8;'
}

.table-title{
    font-size: 12px;
    font-weight: bold;
}
.table-info{
    font-size: 10px;
}

.italic{
    font-style: italic;
}